# Explain about Data Types

Python Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. 
It is classified into two data types..
    - Primitive Data Type (basic data types)
    - Non-Primitive Data Type (advanced data types)
    
  Primitive Data types 
  
  Basic data type which can be instanciated and used with the predefined operations of a programming language.
   Data Types are -
             int       - All whole numbers (positive, negative and zero) without any fractional part come under Integers.
                          -3, -2, -1, 0, 1, 2, 3,...
             float     - Any number with a decimal point
                          24.3, 345.210, -321.86
             complex   -  A complex number is represented as a pair of real numbers, where the first part is the real part and                             the second part is the imaginary part
                          76 + 767j     where 76 is real and 767j is imaginary
             boolean   - True and False are considered as Boolean values.
             char      - set of valid characters acceptable by a programming language in scripting.
             
  Non Primitive Data types
  
  The non-primitive data types are List, Tuples, Dictionary, Sets

In [2]:
# int Examples  
x = 88
age =21
a=b=c=677
a,b,c = 78,9,65
x=int("886")
abc = 87666
teks = 78
print(x)
print(age)
print(c)
print(a,b,c)
print(x)
print(abc)
print(teks)

886
21
65
78 9 65
886
87666
78

In [4]:
# float examples
x = -.6
y = 999.087
teks = 99.0
a,b,c = 675.75 ,686.7 ,546.8
t = float(57686)
print(x)
print(y)
print(teks)
print(c)
print(t)

-0.6
999.087
99.0
546.8
57686.0

In [5]:
# complex examples

a = 2 + 3j
t = complex(4,875)
teks = 6 * 3j
y = 8.8 + 65j
z = -15.8 * 5j
print(a)
print(t)
print(teks)
print(y)
print(z)

(2+3j)
(4+875j)
18j
(8.8+65j)
(-0-79j)

In [7]:
# boolean examples
 
print(2==3)
print(576<86)
print(10<=989)
print(45>38)
print(56>=78)

False
False
True
True
False

# Type Function 


The type() function returns the type of the specified object. type (object, bases, dict) required.

In [ ]:
# type function examples

a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33
x=y=67.8
print(type(a))
print(type(b))
print(type(c))
print(type(y))